<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <style>
      .container {
        width: 100vw;
        height: 100vh;
        position: relative;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .login {
        width: 20%;
        height: 15%;
      }
      .change {
        width: 50%;
        height: fit-content;
        border: 1px solid #b3b3b3;
        border-radius: 3px;
        margin: auto;
        padding: 0 10px;
      }
      .main-content {
        border: 1px solid #b3b3b3;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        padding: 0 10px;
        border-radius: 3px;

        /* background-color: red */
      }
      form {
        width: 100%;
        height: 100%;
      }

      .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
      }
      .row label,
      input,
      textarea {
        outline: none;
        height: 100%;
      }
      .row input,
      textarea {
        border: 1px solid #b3b3b3;
      }
      .row input:focus,
      textarea:focus {
        border: 1px solid #777676;
      }
      .row input[type="submit"] {
        cursor: pointer;
      }

      .row input {
        height: 25px;
      }
      .row textarea {
        width: 70%;
      }
      .change input {
        width: 70%;
      }
    </style>
    <div class="container">
      <div class="">
        <%- auth?`
        <!-- <h1>hello</h1 -->
        <form
          class="change"
          action="/change"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="row">
            <label for="">Background</label>
            <input type="file" name="background" id="" />
          </div>
          <div class="row">
            <label for="">Tên công ty </label>

            <input
              type=""
              name="companyName"
              id="company-name"
              value="${data.companyName}"
            />
          </div>
          <div class="row">
            <label for="">Miêu tả</label>
            <textarea name="description" id="description" cols="30" rows="10">
${data.description}</textarea
            >
            <!-- <input type="text" name="description" id="description" /> -->
          </div>
          <div class="row">
            <label for="">Giới thiệu</label>
            <textarea name="introduce" id="" cols="30" rows="10">
${data.introduce}</textarea
            >
            <!-- <input type="text" name="" id=""  -->
          </div>
          <div class="row">
            <label for="">Ảnh dịch vụ 1</label>
            <!-- <input type="text" name="nameService1" id="" /> -->
            <input type="file" name="service1" id="" />
          </div>
          <div class="row">
            <label for="">Ảnh dịch vụ 2</label>
            <input type="file" name="service2" id="" />
          </div>
          <div class="row">
            <label for="">Ảnh dịch vụ 3</label>
            <input type="file" name="service3" id="" />
          </div>
          <div class="row">
            <label for="">Ảnh dịch vụ 4</label>
            <input type="file" name="service4" id="" />
          </div>
          <div class="row">
            <label for="">Ảnh dịch vụ 5</label>
            <input type="file" name="service5" id="" />
          </div>
          <div class="row">
            <label for="">Ảnh dịch vụ 6</label>
            <input type="file" name="service6" id="" />
          </div>
          <div class="row">
            <label for="">Tên dịch vụ 1</label>
            <input
              type="text"
              name="nameService1"
              id=""
              value="${data.nameService1}"
            />
            <!-- <input type="file" name="nameService1" id="" / -->
          </div>
          <div class="row">
            <label for="">Tên dịch vụ 2</label>
            <input
              type="text"
              name="nameService2"
              id=""
              value="${data.nameService2}"
            />
          </div>
          <div class="row">
            <label for="">Tên dịch vụ 3</label>
            <input
              type="text"
              name="nameService3"
              id=""
              value="${data.nameService3}"
            />
          </div>
          <div class="row">
            <label for="">Tên dịch vụ 4</label>
            <input
              type="text"
              name="nameService4"
              id=""
              value="${data.nameService4}"
            />
          </div>
          <div class="row">
            <label for="">Tên dịch vụ 5</label>
            <input
              type="text"
              name="nameService5"
              id=""
              value="${data.nameService5}"
            />
          </div>
          <div class="row">
            <label for="">Tên dịch vụ 6</label>
            <input
              type="text"
              name="nameService6"
              id=""
              value="${data.nameService6}"
            />
          </div>
          <div class="row">
            <label for="">Địa chỉ</label>
            <input type="text" name="address" id="" value="${data.address}" />
          </div>

          <div class="row">
            <label for="">Số điện thoại</label>
            <input type="text" name="phone" id="" value="${data.phone}" />
          </div>

          <div class="row">
            <label for="">Email</label>
            <input type="text" name="email" id="" value="${data.email}" />
          </div>

          <div class="row"><input type="submit" value="lưu" /></div>
        </form>
        `:`
        <form class="main-content login" action="/admin" method="POST">
          <div class="row">
            <label for="">UserName</label> <input type="text" name="username" />
          </div>
          <div class="row">
            <label for="">Password</label>
            <input type="password" name="password" id="password" />
          </div>
          <div class="row"><input type="submit" value="Đăng nhập" /></div>
        </form>
        `-%>
      </div>
    </div>
  </body>
</html>
